$rounding: 12px;

StatsContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  
  position: absolute;
  
  left: 15px;
  bottom: 15px;
  
  width: 220px;
  min-height: 40px;
  
  border-radius: $rounding;
  background-color: #1B202a;
  overflow: hidden;
  
  padding: 10px;
  
  :not(:last-child).ValueBar {
    width: 100%;
    margin-bottom: 5px;
  }
}

.team-label {
  color: white;
  font-size: 18px;
  font-family: "Segoe UI", serif;
  font-weight: 500;
  text-shadow: 0 0 2px 5px black;
  text-align: center;
  margin-bottom: 10px;
}